body { 
font-family: Arial, sans-serif; 
line-height: 1.4;
font-size: 13px;
background: #feffff url(../images/bg.jpg) top repeat-x;
margin: 0;
padding: 0;
color: #000000;
}
#wrap { 
width: 800px;
margin: 20px auto;
}
h1, h2, h3, h4, a{
color: #243F00; 
}
#header {
background: url(../images/header.png) no-repeat;
height: 110px;
}
#header h1 {
font-family: Arial, sans-serif; 
margin: 0;
padding: 33px 0 0 30px;
font-weight: 600;
color: #fff;
font-size: 29px;
letter-spacing: 2px;
line-height: 27px;
}
#header h1 a { text-decoration: none; color: #fff; }
#header h1 a:hover { text-decoration: none; border-bottom: 1px solid #fff; color: #fff; }
#header h2 { font-size: 21px; padding: 0 0 0 30px; margin: 0; color: #eee; font-weight: 100; letter-spacing: 1px;}

#headerbottom { 
background: url(../images/headerbottom.png) no-repeat; padding: 105px 0;
}


#contentwrap {
background: url(../images/content.png) repeat-y;
padding: 0 30px 0 30px;
}

#content {
float: left;
width: 490px;
margin: 15px 0;
}
#content h2 {
margin: 0;
line-height: 30px;
font-weight: 100;
font-size: 20px;
letter-spacing: -1px;
}

#content p { padding: 0 0 10px 0; color: #232323;}
#content ul { padding: 0 20px 10px 30px; }

#sidebar {
float: right;
margin: 20px 0 0 0;
width: 200px;
padding: 10px;
background: #F1FFDF; 
border: 1px solid #AFBF9B;
}

#sidebar h3 {
height: 30px;
line-height: 30px;
font-weight: 100;
margin: 0; padding: 0 0 0 10px; 
font-size: 15px;
letter-spacing: -1px;
}

#sidebar p { padding: 0 10px 10px 10px; color: #232323; }

#sidebar ul {
padding: 5px 0 10px 10px;
margin: 0;
color: #aaa;
list-style-type: none;
}

#sidebar ul li {
background: url(../images/bullet.png) no-repeat center left;
padding: 2px 0 2px 22px;
margin: 0;
}
#sidebar ul li a {
text-decoration: none;
}

#bottom { background: url(../images/bottom.png) no-repeat; padding: 10px 0; }

#footer { 
text-align: center;
color: #979797;
padding: 0 0 10px 0;
}
#footer p { padding: 0; margin: 0; }
#footer a { color: #979797; }
#footer a:hover { text-decoration: underline; }

tr.odd {
   background: #f1ffdf;
}

div#tabs-1 a { text-decoration: underline; }
div#tabs-2 a { text-decoration: underline; }
div#tabs-3 a { text-decoration: underline; }

span.works { color: green }

span.fails { color: red }
