{% extends "layout.html" %}
{% block script %}
<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>
{% endblock %}

{% block body %}


<h2>Want to use Python 3 for your next project ?</h2>

<h4 style="color: #243F00">Find out all the third party libraries supported by Python 3!  You can
also submit feedback about compatibility with Python 3.</h4>

<div>

  <form action="{{ url_for('packages') }}" method=post>
    <input onfocus="if(this.value == 'Search Distros') {this.value = ''}" style="opacity:0.4;font-size: 15pt" type=text name=pkgname size=20 value="Search Distros" />
    <input style="font-size: 18pt" type=submit value="Search" />
    <a style="text-decoration: underline" href="{{ url_for('packages') }}">Browse All</a>
  </form>

</div>

<p></p>

<div id="tabs">
  <ul>
	<li><a href="#tabs-1">Latest Feedback</a></li>
	<!--li><a href="#tabs-2">Popular Distros</a></li-->
	<li><a href="#tabs-3">Get Involved!</a></li>
  </ul>
  <div id="tabs-1">
    {% for comment,distribution in comments %}
    <p>
      <a href="{{ url_for('packages_details', name=distribution.name) }}">{{ distribution.name }}</a> ({{ comment.version }}) is
      <span class="{{ get_status(comment.working)[0] }}">{{ get_status(comment.working)[1] }}</span>
      for {{ comment.fullname }} ({{ comment.platform }}, {{ time_delta(comment.datetime) }} ) <br/>
    </p>
  {% endfor %}

  </div>
  <div id="tabs-2">
    <p></p>
  </div>
  <div id="tabs-3">
	<p>
      The Python community needs your
      help.  <a href="http://python.org/download/releases/3.2/#download">
      Install Python 3.2</a> then try out your favourite Package and provide
      feedback here.
    <p>
    <p>
      We can then track the general "supported-ness" of Package distributions in
      Python 3.
    </p>

    <h4>Let us know your thoughts!</h4>

    <p>
      Visit <a href="https://groups.google.com/forum/?msg=new&lnk=gcis&hl=en#!forum/getpython3">
        our forum</a> to report any bugs or pass on your suggestions.
    </p>

    <h4>Don't know where to start?</h4>

    <p>
      Try one of these... <br /><br />
      {% for distribution in no_comments_packages %}
      <a href="{{ url_for('packages_details', name=distribution.name) }}">{{ distribution.name }}</a> <br/>
      {% endfor %}
    </p>
  </div>
</div>


{% endblock %}
