<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    {% block title %}<title>Get Python 3</title>{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/jquery-ui-base-1.8.9.css') }}" />
    <script src="{{ url_for('.static', filename='js/jquery-1.4.4.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/jquery-ui-1.8.9.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/paginatetable.js') }}"></script>
    {% block script %}{% endblock %}

  </head>
  <body>

    <div id="wrap">

      <div id="header">

        <h1><a href="{{ url_for('index') }}">Python 3</a></h1>
        <h2>Beautiful, Explicit and Simple.</h2>

      </div>

      <div id="headerbottom">
      </div>

      <div id="contentwrap">

        <div id="content">

          {% block body %}{% endblock %}


        </div>

        <div id="sidebar">
          <h3>Download</h3>
          <a href="http://python.org/download/releases/3.2/#download">
            <img style="border: transparent" width="100%" src="{{ url_for('.static', filename='python-logo.png') }}" alt="image" /></a>

          <h3>Libraries</h3>
          <ul>
            <li><a href="http://bottle.paws.de/docs/dev/index.html">Bottle (Web Framework)</a></li>
            <li><a href="http://live.gnome.org/PyGObject">PyGObject (Desktop/GUI)</a></li>
            <li><a href="http://www.riverbankcomputing.com/news">PyQt (Desktop/GUI)</a></li>

            <!--li><a href="libraries.html">More...</a></li-->
          </ul>

          <h3>Books</h3>
          <ul>

            <li><a href="http://www.swaroopch.com/notes/Python">A Byte of Python by Swaroop C H</a></li>
            <li><a href="http://diveintopython3.org/">Dive Into Python 3 by Mark Pilgrim</a></li>
            <li><a href="http://www.qtrac.eu/py3book.html">Programming in Python 3 by Mark Summerfield</a></li>
            <li><a href="https://www.packtpub.com/python-3-object-oriented-programming/book">Python 3 Object Oriented Programming</a></li>
            <li><a href="http://mcsp.wartburg.edu/zelle/python/">Python Programming: An Introduction to Computer Science by John M. Zelle, Ph.D.</a></li>
            <li><a href="http://www.rmi.net/~lutz/about-pp4e.html">Programming Python by Mark Lutz</a></li>
            <!--li><a href="books.html">More...</a></li-->
          </ul>

          <h3>Articles/Blogs</h3>
          <ul>
            <li><a href="http://wiki.python.org/moin/Python2orPython3">Python 2 or 3</a></li>
            <li><a href="http://wiki.python.org/moin/PortingPythonToPy3k">Porting Python 3</a></li>
            <!--li><a href="articles.html">More...</a></li-->
          </ul>
          <!-- <h3> -->
          <!--   {% if not session.openid %} -->
          <!--   <a href="{{ url_for('.login') }}">Login</a> -->
          <!--   {% else %} -->
          <!--   <a href="{{ url_for('.logout') }}">Logout</a> -->
          <!--   {% endif %} -->
          <!-- </h3> -->
        </div>

        <div style="clear: both;"> </div>

      </div>

      <div id="bottom"> </div>

      <div id="footer">
        <p>
          &copy; Copyright 2011
          <a href="http://baijum81.livejournal.com/">Baiju M &lt;baiju.m.mail AT gmail.com&gt;</a>
        </p>
        <p>
          <a href="http://www.blogliber.com/xhtmlcss-templates/green-property-free-web-template/">Green Template</a>
          by <a href="http://www.blogliber.com">Blog Liber</a>
          | <a href="http://flask.pocoo.org">Flask Powered</a>
          | <a href="http://isitruby19.com/">Inspired By isitruby19.com</a>
        </p>
        <p>
          <a href="{{ url_for('.credits') }}">Credits</a>
          | <a href="https://github.com/baijum/getpython3"><strong><em>Contribute!</em></strong></a></p>
      </div>

    </div>

  </body>
</html>
