{% extends "layout.html" %}
{% block body %}

<strong>This site is under development. 
<a href="https://groups.google.com/forum/?msg=new&lnk=gcis&hl=en#!forum/getpython3">Discussion</a>.
<a href="https://github.com/baijum/getpython3">Code</a>
</strong>

<p></p>


<h2>Package Distribution Compatibility for Python 3</h2>

<div>

  <form action="{{ url_for('packages') }}" method=post>
    Search Package Distribution: <input type=text name=pkgname size=30 />
    <input type=submit value="Search" />
  </form>

  <a href="{{ url_for('packages') }}">Browse All</a>

  <h2><a href="http://pypi.python.org/pypi/{{ result.name }}">{{ result.name }}</a></h2>

  <dl>
    <dt>Home Page</dt>
    <dd><a href="{{ result.home_page }}">{{ result.home_page }}</a></dd>
    <dt>Author(s)</dt>
    <dd>{{ result.author }}</dd>
    <dt>Summary</dt>
    <dd>{{ result.summary }}</dd>
  </dl>

  <h3>Comments</h3>

  {% for comment in comments %}
  <p>
    {{ result.name }} ({{ comment.version }}) is
    <span class="{{ get_status(comment.working)[0] }}">{{ get_status(comment.working)[1] }}</span>
    for {{ comment.fullname }} ({{ comment.platform }}, {{ time_delta(comment.datetime) }} ) <br/>
    <pre>
{{ comment.comment }}
    </pre>
  </p>
  {% endfor %}


  <h3>Add your comment</h3>
  <form action="{{ url_for('packages_details', name=result.name) }}/add_comment" method=post>
    Name 
    <input type=text name=fullname size=30 /> <br />

    Email 
    <input type=text name=email size=30 /> <br />

    <p>
      Works for me 
      <input checked="checked" id="working" name="working" type="radio" value="true">
      Yes
      <input id="working" name="working" type="radio" value="false">
      No
    </p>
    <p>
      Platform
      <select id="platform" name="platform">
        <option value="GNU/Linux">GNU/Linux</option>
        <option value="Windows">Windows</option>
        <option value="Mac OSX">Mac OSX</option>
        <option value="FreeBSD">FreeBSD</option>
        <option value="OpenBSD">OpenBSD</option>
        <option value="NetBSD">NetBSD</option>
        <option value="Solaris">Solaris</option>
        <option value="Other">Other</option>
      </select>
    </p>
    Version 
    <input type=text name=version size=30 /> <br />
    Comments (optional) <br/>
    <textarea cols="60" id="comment_body" name="comment[body]" rows="6"></textarea>
    <input type=submit value="Submit" />
  </form>
  
</div>


<p>
</p>

{% endblock %}
