{% extends "layout.html" %}
{% block body %}

<strong>This site is under development. 
<a href="https://groups.google.com/forum/?msg=new&lnk=gcis&hl=en#!forum/getpython3">Discussion</a>.
<a href="https://github.com/baijum/getpython3">Code</a>
</strong>

<p></p>


<h2>Package Distribution Compatibility for Python 3</h2>

<div>

  <form action="{{ url_for('packages') }}" method=post>
    Search Package Distribution: <input type=text name=pkgname size=30 />
    <input type=submit value="Search" />
  </form>

  <a href="{{ url_for('packages') }}">Browse All</a>

  <h2><a href="http://pypi.python.org/pypi/{{ result.name }}">{{ result.name }}</a></h2>

  <dl>
    <dt>Home Page</dt>
    <dd><a href="{{ result.home_page }}">{{ result.home_page }}</a></dd>
    <dt>Author(s)</dt>
    <dd>{{ result.author }}</dd>
    <dt>Summary</dt>
    <dd>{{ result.summary }}</dd>
  </dl>

  <h3>Comments</h3>
  <p>User name</p>
  <p>Comment</p>

  <h3>Add your comment</h3>
  <form action="{{ url_for('packages_details', name=result.name) }}/add_comment" method=post>
    Name 
    <input type=text name=fullname size=30 /> <br />

    Email 
    <input type=text name=email size=30 /> <br />

    <p>
      Works for me 
      <input checked="checked" id="comment_works_for_me_true" name="comment[works_for_me]" type="radio" value="true">
      Yes
      <input id="comment_works_for_me_false" name="comment[works_for_me]" type="radio" value="false">
      No
    </p>
    <p>
      Machine platform
      <select id="comment_machine_platform_id" name="comment[machine_platform_id]">
        <option value="16">GNU/Linux</option>
        <option value="17">Windows</option>
        <option value="15">Mac OSX</option>
        <option value="18">FreeBSD</option>
        <option value="18">OpenBSD</option>
        <option value="18">NetBSD</option>
        <option value="18">Solaris</option>
        <option value="19">Other</option>
      </select>
    </p>
    Comments (optional) <br/>
    <textarea cols="60" id="comment_body" name="comment[body]" rows="6"></textarea>
    <input type=submit value="Submit" />
  </form>
  
</div>


<p>
</p>

{% endblock %}
