{% extends "layout.html" %}
{% block body %}

<strong>This site is under development. 
<a href="https://groups.google.com/forum/?msg=new&lnk=gcis&hl=en#!forum/getpython3">Discussion</a>.
<a href="https://github.com/baijum/getpython3">Code</a>
</strong>

<p></p>

<h2>Python 3: The current edition</h2>

<div style="float: right; padding: 30px 10px 10px 10px;">
  <img width="100%" src="{{ url_for('.static', filename='hello.png') }}" alt="image" />
</div>

<p>Python 3 is the latest shiny version of Python programming language.</p>

<p></p>

<p></p>

<h2>Why upgrade to Python 3 ?</h2>

<div style="float: left; padding: 0 10px 0 0;">
  <img src="{{ url_for('.static', filename='image1.png') }}" alt="image" />
</div>

<p>Python 3 is a simple language compared to Python 2.  The
  process of upgradation is very
  well <a href="http://wiki.python.org/moin/PortingPythonToPy3k">documented.</a>
</p>

<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

<h2>Package Distribution Compatibility for Python 3</h2>

<div>

  <form action="packages" method=post>
    Search Package Distribution: <input type=text name=pkgname size=30 />
    <input type=submit value="Search" />
  </form>
  <a href="packages">Browse All</a>

</div>

Latest Feedback
Popular Package Distributions (most comments)

Get involved!

The Python community needs your help.  Install Python 3.2 then try out your
favourite Package and provide feedback here.

We can then track the general "supported-ness" of Package distributions in
Python 3.

Let us know your thoughts!

Visit <a href="https://groups.google.com/forum/?msg=new&lnk=gcis&hl=en#!forum/getpython3">our
forum</a> to report any bugs or pass on your suggestions.

Don't know where to start?

Try one of these...


<p>

</p>

{% endblock %}
