{% extends "layout.html" %}

{% block body %}

    {% macro render_pagination(pagination, endpoint) %}
      <div class=pagination style="font-size: 14pt;text-align:center">
        {%- for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <a href="{{ url_for(endpoint, name=searchname, page=page) }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% else %}
                <span class=ellipsis>...</span>
            {% endif %}
        {%- endfor %}
      </div>
    {% endmacro %}

    {{ render_pagination(page_obj, 'search_package') }}

    <table id="myTable">
        <thead>
            <tr>
              <th>Distribution</th>
              <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {%- for item in page_obj.items %}
                <tr class="{{ loop.cycle('odd', 'even') }}">
                  <td><a href="{{ url_for('packages_details', name=item.name) }}">{{ item.name }}</a></td>
                  <td> {{ item.summary }} </td>
                </tr>
            {%- endfor %}
        <tbody>
    </table>

{% endblock %}
