{% extends "layout.html" %}
{% block body %}


<h2>Want to use Python 3 for your next project ?</h2>

<h4 style="color: #243F00">Find out all the third party libraries supported by Python 3!  You can
also submit feedback about compatibility with Python 3.</h4>

<div>

  <form action="{{ url_for('packages') }}" method=post>
    <input onfocus="if(this.value == 'Search Distros') {this.value = ''}" style="opacity:0.4;font-size: 15pt" type=text name=pkgname size=20 value="Search Distros" />
    <input style="font-size: 18pt" type=submit value="Search" />
    <a style="text-decoration: underline" href="{{ url_for('packages') }}">Browse All</a>
  </form>

</div>

<p></p>
{% macro render_pagination(pagination, endpoint) %}
  <div class=pagination style="font-size: 14pt;text-align:center">
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>...</span>
    {% endif %}
      
  {%- endfor %}

  </div>
{% endmacro %}


{{ render_pagination(page_obj, 'packages') }}


<table id="myTable">
  <thead>
    <tr>
      <th>Distribution</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {%- for item in page_obj.items %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td><a href="{{ url_for('packages_details', name=item.name) }}">{{ item.name }}</a></td>
      <td> {{ item.summary }} </td>
    </tr>
  
    {%- endfor %}
  <tbody>
</table>


{{ render_pagination(page_obj, 'packages') }}

{% endblock %}
