{% extends "layout.html" %}

{% block body %}

    {% macro render_pagination(pagination, endpoint) %}
        <div class=pagination style="font-size: 14pt;text-align:center">
            {%- for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
                    {% else %}
                        <strong>{{ page }}</strong>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>...</span>
                {% endif %}
            {%- endfor %}
        </div>
    {% endmacro %}

    {{ render_pagination(page_obj, 'packages') }}


    <table id="myTable">
        <thead>
            <tr>
              <th>Distribution</th>
              <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {%- for item in page_obj.items %}
                <tr class="{{ loop.cycle('odd', 'even') }}">
                    <td><a href="{{ url_for('packages_details', name=item.name) }}">{{ item.name }}</a></td>
                    <td> {{ item.summary }} </td>
                </tr>
            {%- endfor %}
        <tbody>
    </table>

{% endblock %}

{% block trypkg %}
    <ul>
        <li>
            {% for distribution in no_comments_packages %}
            <a href="{{ url_for('packages_details', name=distribution.name) }}">
            {{ distribution.name }}</a>
            {% endfor %}
        </li>
    </ul>
{% endblock %}

{% block newprj %}
    <form action="{{ url_for('save_new_project') }}" method=post>
        <p>
            <label for="prjname">Project Name</label>
            <input id="prjname" name='projectname' placeholder="Project name">
        </p>
        <p>
            <label for="homepg">Homepage</label>
            <input id="homepg" type='url' name='home_page' placeholder="http://">
        </p>
        <p>
            <label for="auth">Authors</label>
            <input id="auth" name='author' placeholder="Author(s)">
        </p>
        <p>
            <label for="summary">Summary</label>
            <textarea id="summary" name='summary' placeholder="Some cool information about your wonderful project..." rows="6" cols="60"></textarea>
        </p>
        <p>
            <label for="cap">Enter the letters here:</label>
            <input id="cap" name='captchavalue'>
            <img src="{{ url_for('captcha', key=captcha_key) }}" />
        </p>
            <input type=hidden name=captchakey value={{ captcha_key }}>
            <p><input value="Submit" type="submit"></p>
    </form>
{% endblock %}

