{% extends "layout.html" %}
{% block body %}

<strong>This site is under development. 
<a href="https://groups.google.com/forum/?msg=new&lnk=gcis&hl=en#!forum/getpython3">Discussion</a>.
<a href="https://github.com/baijum/getpython3">Code</a>
</strong>

<h2>Package Distribution Compatibility for Python 3</h2>

<div>

  <form action="{{ url_for('packages') }}" method=post>
    Search Package Distribution: <input type=text name=pkgname size=30 />
    <input type=submit value="Search" />
  </form>
  <a href="{{ url_for('packages') }}">Browse All</a>

  <table id="myTable">
    <tbody>

      {% for item in result %}
      <tr><td><a href="{{ url_for('packages_details', name=item.name) }}">{{ item.name }}</a></td></tr>
  
      {% endfor %}
    <tbody>
  </table>
  <div class='pager'>
    <a href='#' alt='Previous' class='prevPage'>Prev</a>
    <span class='currentPage'></span> of <span class='totalPages'></span>
    <a href='#' alt='Next' class='nextPage'>Next</a>
  </div>
    
  <script>
    
    $(document).ready(function () {
      $('#myTable').paginateTable({ rowsPerPage: 10 });
    });
  </script>

</div>

Latest Feedback
Popular Package Distributions (most comments)

Get involved!

The Python community needs your help.  Install Python 3.2 then try out your
favourite Package and provide feedback here.

We can then track the general "supported-ness" of Package distributions in
Python 3.

Let us know your thoughts!

Visit <a href="https://groups.google.com/forum/?msg=new&lnk=gcis&hl=en#!forum/getpython3">our
forum</a> to report any bugs or pass on your suggestions.

Don't know where to start?

Try one of these...


<p>

</p>

{% endblock %}
